@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap');

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body *{
  font-family: 'Montserrat', sans-serif !important;
}
.dark{
  background-color: #0d1117;
  color: white !important;
}
.dark input, .dark textarea, .dark #nav-item *{
  color: white !important;
}
.MuiFab-root.Mui-disabled{
  background-color: rgba(198,198,198,0.6) !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
